In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# uploaded file
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
df_b = basics
df_b.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
# replace missing values with NaN
df_b.replace({'\\N':np.nan}, inplace=True)

In [5]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9365430 entries, 0 to 9365429
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 643.1+ MB

In [6]:
# Check for missing values 
df_b.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1256633
endYear           9266921
runtimeMinutes    6792547
genres             430192
dtype: int64

In [7]:
# drop missing values from StartYear, Genres, runtimeMinutes
df_b = df_b.dropna(subset=['startYear', 'genres', 'runtimeMinutes'])

In [8]:
# check for dropna
df_b.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear               0
endYear           2388881
runtimeMinutes          0
genres                  0
dtype: int64

In [9]:
#Keep only titleType_movie & Keep startYear 2000-2022
keepTs_df= df_b[(df_b['startYear']>='2000') & (df_b['startYear']>='2022') & (df_b['titleType']=='movie')]
keepTs_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
116972,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy"
117693,tt0120589,movie,A Dangerous Practice,A Dangerous Practice,0,2022,NaN,108,Drama
193057,tt0200940,movie,Over-sexed Rugsuckers from Mars,Over-sexed Rugsuckers from Mars,0,2022,NaN,87,"Comedy,Sci-Fi"
202635,tt0211266,movie,Black Star: Autobiography of a Close Friend,Black Star: Autobiography of a Close Friend,0,2022,NaN,85,Documentary
271074,tt0283145,movie,Wielka droga,Wielka droga,0,2022,NaN,87,"Drama,War"
...,...,...,...,...,...,...,...,...,...
9354406,tt9893130,movie,"2025: Blood, White & Blue","2025: Blood, White & Blue",0,2022,NaN,135,Comedy
9354420,tt9893158,movie,Clowning,Clowning,0,2022,NaN,96,"Crime,Romance"
9354421,tt9893160,movie,No Way Out,No Way Out,0,2022,NaN,89,"Action,Crime,Thriller"
9354794,tt9894000,movie,Twice As Strong: Made of Fire,Twice As Strong: Made of Fire,0,2022,NaN,122,Drama
9359764,tt9904648,movie,The Contrast,The Contrast,0,2022,NaN,82,Comedy

In [10]:
new_df = keepTs_df

In [11]:
# Exclude movies that are included in the documentary category.
is_documentary = new_df['genres'].str.contains('Documentary',case=False)
df = new_df[~is_documentary]

In [12]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
df_akas = akas
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [13]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
116972,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy"
117693,tt0120589,movie,A Dangerous Practice,A Dangerous Practice,0,2022,NaN,108,Drama
193057,tt0200940,movie,Over-sexed Rugsuckers from Mars,Over-sexed Rugsuckers from Mars,0,2022,NaN,87,"Comedy,Sci-Fi"
271074,tt0283145,movie,Wielka droga,Wielka droga,0,2022,NaN,87,"Drama,War"
312790,tt0326716,movie,5-25-77,'77,0,2022,NaN,132,"Comedy,Drama"

In [14]:
# replace missing values with NaN
df_akas.replace({'\\N':np.nan}, inplace=True)

In [15]:
df_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
33799854,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
33799855,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
33799856,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
33799857,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
33799858,tt9916856,2,The Wind,NaN,NaN,original,NaN,1

In [16]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = df['tconst'].isin(akas['titleId'])
keepers

116972     True
117693     True
193057     True
271074     True
312790     True
           ...
9354406    True
9354420    True
9354421    True
9354794    True
9359764    True
Name: tconst, Length: 7984, dtype: bool

In [17]:
#Cleaned basics_df
basics_df = df[keepers]
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
116972,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy"
117693,tt0120589,movie,A Dangerous Practice,A Dangerous Practice,0,2022,NaN,108,Drama
193057,tt0200940,movie,Over-sexed Rugsuckers from Mars,Over-sexed Rugsuckers from Mars,0,2022,NaN,87,"Comedy,Sci-Fi"
271074,tt0283145,movie,Wielka droga,Wielka droga,0,2022,NaN,87,"Drama,War"
312790,tt0326716,movie,5-25-77,'77,0,2022,NaN,132,"Comedy,Drama"
...,...,...,...,...,...,...,...,...,...
9354406,tt9893130,movie,"2025: Blood, White & Blue","2025: Blood, White & Blue",0,2022,NaN,135,Comedy
9354420,tt9893158,movie,Clowning,Clowning,0,2022,NaN,96,"Crime,Romance"
9354421,tt9893160,movie,No Way Out,No Way Out,0,2022,NaN,89,"Action,Crime,Thriller"
9354794,tt9894000,movie,Twice As Strong: Made of Fire,Twice As Strong: Made of Fire,0,2022,NaN,122,Drama
9359764,tt9904648,movie,The Contrast,The Contrast,0,2022,NaN,82,Comedy

In [18]:
ratings_url="Data/title.ratings (1).tsv"
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)
df_ratings = ratings
df_ratings.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Data/title.ratings (1).tsv'

In [ ]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers_ratings = basics_df['tconst'].isin(akas['titleId'])
keepers_ratings

In [ ]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

In [ ]:
## Save current dataframe to file.
basics_df.to_csv("Data/title_basics_cleaned.csv.gz",compression='gzip',index=False)

In [ ]:
## Save current dataframe to file.
akas.to_csv("Data/title.akas_cleaned.tsv.gz", compression='gzip', index=False)

In [ ]:
## Save current dataframe to file.
df_ratings.to_csv("Data/ratings_cleaned.akas.tsv.gz", compression='gzip', index=False)