In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Additional Imports

import os, json, math, time
!pip install tmdbsimple
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook


FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

Requirement already satisfied: tmdbsimple in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (2.9.1)
Requirement already satisfied: requests in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (3.3)

['title_basics_cleaned.csv.gz',
 'title.akas.tsv.gz',
 'title.ratings (1).tsv',
 'years_to_get.csv.gz',
 'tmdb_api_results_[2015, 2021].json',
 'ratings.akas.tsv.gz',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results_[2000, 2001].json',
 'tmdb_api_results_[2010, 2021].json',
 'final_tmdb_data_[2000, 2001].csv.gz',
 'ratings_cleaned.akas.tsv.gz',
 '.ipynb_checkpoints',
 "tmdb_api_results_['2000'].json"]

In [2]:
import json
with open('/Users/christinab/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'Api-key'])

In [3]:
# setting app key
import tmdbsimple as tmdb
tmdb.API_KEY =  login['Api-key']

In [4]:
# make a movie object using the .Movies function from tmdb
movie = tmdb.Movies(603)

#movie objects have a .info dictionary
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/l4QHerTSbMI7qgvasqxP36pqjN6.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 59.542,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/tXMFoE8AtNdnFzWOW0aCLwl7xxS.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.193,
 'vote_count': 22298}

In [5]:
YEARS_TO_GET = [2010,2021]

In [6]:
YEAR = YEARS_TO_GET
YEAR

[2010, 2021]

In [7]:
#load dataframe from project part 1 as basics:
basics = pd.read_csv('DATA/title_basics_cleaned.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy"
1,tt0120589,movie,A Dangerous Practice,A Dangerous Practice,0,2022,NaN,108,Drama
2,tt0200940,movie,Over-sexed Rugsuckers from Mars,Over-sexed Rugsuckers from Mars,0,2022,NaN,87,"Comedy,Sci-Fi"
3,tt0283145,movie,Wielka droga,Wielka droga,0,2022,NaN,87,"Drama,War"
4,tt0326716,movie,5-25-77,'77,0,2022,NaN,132,"Comedy,Drama"

In [8]:
# basics = basics.drop(columns=['originalTitle'])
# basics

In [9]:
def write_json(new_data, filename):
    '''Adapted from source = https://github.com/celiao/tmdbsimple'''
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries 
    info = movie.info()
    
    releases = movie.releases()
    #Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1'] == 'US':
            ## save a 'certification' key in info with the certification
            info['certification']= c['certification']
            
        return info

In [10]:
errors =[]

In [11]:
# Start of OUTER loop
for Year in tqdm_notebook(YEAR, desc='YEARS', position=0):
    # Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # check if file exist
    file_exists= os.path.isfile(JSON_FILE)

    # If it does not exist: create it
    if file_exists == False:
        
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
            
    # saving new year as the current df
        df = basics.loc[basics['startYear']==YEAR].copy

    # saving movie ids to list
    movie_ids = basics['tconst'].copy()#.to_list
    movie_ids

    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    #Get index and movie id from list
    
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
             errors.append([movie_id, e])

        final_year_df = pd.read_json(JSON_FILE)
        final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from [2010, 2021]:   0%|          | 0/7766 [00:00<?, ?it/s]

Movies from [2010, 2021]:   0%|          | 0/7766 [00:00<?, ?it/s]