In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Additional Imports

import os, json, math, time
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (2.9.1)
Requirement already satisfied: requests in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/christinab/opt/anaconda3/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (3.3)

In [2]:
import json
with open('/Users/christinab/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'Api-key'])

In [3]:
# setting app key
import tmdbsimple as tmdb
tmdb.API_KEY =  login['Api-key']

In [4]:
## make a movie object using the .Movies function from tmdb
## "The Advengers" 
movie = tmdb.Movies(10751)

In [5]:
## movie objects have a .info dictionary 
AVinfo = movie.info()
AVinfo

{'adult': False,
 'backdrop_path': '/gShzQKKPj7ylPQojFPEEcExs6cy.jpg',
 'belongs_to_collection': {'id': 95891,
  'name': 'In China They Eat Dogs Collection',
  'poster_path': '/ws7sHs7oVSoVgrLTlEitJ2mJGR8.jpg',
  'backdrop_path': '/jeH6MaDD1CnZ8TLupBAi0DYWn2F.jpg'},
 'budget': 0,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 53, 'name': 'Thriller'}],
 'homepage': '',
 'id': 10751,
 'imdb_id': 'tt0246692',
 'original_language': 'da',
 'original_title': 'Gamle mænd i nye biler',
 'overview': 'The last wish of the dying "Monk" is for his foster child, Harald, to find his real son, Ludvig. But the latter is currently in a Swedish prison cell...',
 'popularity': 6.675,
 'poster_path': '/n2KH5TlEcYPvinmwsJj4ULc1xDO.jpg',
 'production_companies': [{'id': 2105,
   'logo_path': '/48jOgfdOkjNXwHPhbtpHj1H8kRt.png',
   'name': 'Thura Film',
   'origin_country': 'DK'}],
 'production_countries': [{'iso_3166_1': 'DK', 'name': 'Denmark'}],
 'release_date': '2002-07-12',
 'revenue': 144192,
 'runtime': 95,
 'spoken_languages': [{'english_name': 'Danish',
   'iso_639_1': 'da',
   'name': 'Dansk'},
  {'english_name': 'Serbian', 'iso_639_1': 'sr', 'name': 'Srpski'},
  {'english_name': 'Swedish', 'iso_639_1': 'sv', 'name': 'svenska'}],
 'status': 'Released',
 'tagline': '',
 'title': 'Old Men in New Cars: In China They Eat Dogs II',
 'video': False,
 'vote_average': 6.759,
 'vote_count': 87}

In [6]:
# 'The Avengers'
AVinfo['budget']

0

In [7]:
# 'The Avengers'
movie = tmdb.Movies('tt0848228')
info_1 = movie.info()
info_1['revenue']

1518815515

In [8]:
# 'The Avengers'
AVinfo['imdb_id']

'tt0246692'

In [9]:
# 'The Avengers'
movie_2 = tmdb.Movies('tt0332280')
info = movie.info()
info['budget']

220000000

In [10]:
## make a movie object using the .Movies function from tmdb
## "The Notebook" 
movie2 = tmdb.Movies(10749)

In [11]:
# 'The Notebook'
movie_2 = tmdb.Movies('tt0332280')
info = movie_2.info()
info

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 64.081,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.878,
 'vote_count': 9912}

In [12]:
# 'The Notebook'
movie = tmdb.Movies('tt0332280')
NBinfo = movie.info()
NBinfo['budget']

29000000

In [13]:
# 'The Notebook'
NBinfo['imdb_id']

'tt0332280'

In [14]:
# 'The Notebook'
movie = tmdb.Movies('tt0332280')
info_1 = movie.info()
info_1['revenue']

115603229

In [15]:
# Define your functions

def write_json(new_data, filename):
    '''Adapted from source = https://github.com/celiao/tmdbsimple'''
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries 
    AVinfo = movie.info()
    
    releases = movie.releases()
    #Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1'] == 'US':
            ## save a 'certification' key in info with the certification
            info['certification']= c['certification']
            
        return info

#### Your stakeholder wants you to extract the budget, revenue, and MPAA Rating (G/PG/PG-13/R), which is also called "Certification".

In [16]:
# adapted from learning platform 
# example from package README
# source = https://github.com/celiao/tmdbsimple
response = movie.releases()
for c in movie.countries:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

PG-13

In [17]:
# saving the movie certification/MPAA Rating
# create a function that wraps the movie.info 

def get_movie_with_rating(movie_id):
    '''Adapted from coding dojo learning platform'''
    movie = tmdb.Movies(movie_id)
    
    #save the .info .releases dictionaries
    info = movie.info()
    
    releases = movie.releases()
    #loop through countires in releases
    
    for c in releases['countries']:
        
        #if the country abbreviation==US
        if c['iso_3166_1']== 'US':
            
            ##save a 'certification' key in info with the certification
            info['certification'] =c['certification']
            
        return info

In [18]:
info

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 64.081,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.878,
 'vote_count': 9912}

In [19]:
test = get_movie_with_rating('tt0848228')
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 177.5,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.707,
 'vote_count': 27750}

### Designate a folder

In [20]:
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_basics_cleaned.csv.gz',
 'title.akas.tsv.gz',
 'final_tmdb_data_[2010, 2021].csv.gz',
 'title.ratings (1).tsv',
 'years_to_get.csv.gz',
 'tmdb_api_results_[2015, 2021].json',
 'ratings.akas.tsv.gz',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results_[2000, 2001].json',
 'tmdb_api_results_[2010, 2021].json',
 'final_tmdb_data_[2000, 2001].csv.gz',
 'ratings_cleaned1.akas.tsv.gz',
 'ratings_cleaned.akas.tsv.gz',
 'title_basics_cleaned1.csv.gz',
 '.ipynb_checkpoints',
 "tmdb_api_results_['2000'].json",
 'title.akas_cleaned.tsv.gz',
 'title_basics_cleaned_1.csv.gz',
 'title.akas_cleaned1.tsv.gz']

In [21]:
#make a movie object using the .Movies function from tmdb
tmdb.API_Key = login['Api-key']

In [22]:
# make a movie object using the .Movies function from tmdb
movie = tmdb.Movies(603)

#movie objects have a .info dictionary
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/l4QHerTSbMI7qgvasqxP36pqjN6.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 68.342,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/tXMFoE8AtNdnFzWOW0aCLwl7xxS.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.192,
 'vote_count': 22329}

In [23]:
YEARS_TO_GET = [2000,2001]

In [24]:
YEAR = YEARS_TO_GET
YEAR

[2000, 2001]

In [25]:
#load dataframe from project part 1 as basics:
basics = pd.read_csv('DATA/title_basics_cleaned_1.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [26]:
def write_json(new_data, filename):
    '''Adapted from source = https://github.com/celiao/tmdbsimple'''
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries 
    info = movie.info()
    
    releases = movie.releases()
    #Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1'] == 'US':
            ## save a 'certification' key in info with the certification
            info['certification']= c['certification']
            
        return info

In [27]:
errors =[]

In [ ]:
# Start of OUTER loop
for Year in tqdm_notebook(YEAR, desc='YEARS', position=0):
    # Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # check if file exist
    file_exists= os.path.isfile(JSON_FILE)

    # If it does not exist: create it
    if file_exists == False:
        
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
            
    # saving new year as the current df
        df = basics.loc[basics['startYear']== YEAR].copy

    # saving movie ids to list
    movie_ids = basics['tconst'].copy()#.to_list
    movie_ids

    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df

    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
             errors.append([movie_id, e])

        final_year_df = pd.read_json(JSON_FILE)
        final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from [2000, 2001]:   0%|          | 0/144749 [00:00<?, ?it/s]

### EDA

In [ ]:
# load year 2000 csv.gz file 
data_2001= pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
data_2001.info()

1. Load in any existing/previous results with pd.read_json

2. Check to see if any of the movie_ids to get are already in the JSON file.

3. Filter out only movies that are missing from JSON file to use in the loop.