In [8]:
import pandas as pd
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_basics_cleaned.csv.gz',
 'title.akas.tsv.gz',
 'years_to_get.csv.gz',
 'ratings.akas.tsv.gz',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results_[2000, 2001].json',
 'final_tmdb_data_[2000, 2001].csv.gz',
 'ratings_cleaned.akas.tsv.gz',
 "tmdb_api_results_['2000'].json"]

In [9]:
import json
with open('/Users/christinab/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'Api-key'])

In [10]:
#make a movie object using the .Movies function from tmdb
tmdb.API_Key = login['Api-key']

In [11]:
#load dataframe from project part 1 as basics:
basics = pd.read_csv('Data/ratings_cleaned.akas.tsv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy"
1,tt0120589,movie,A Dangerous Practice,A Dangerous Practice,0,2022,NaN,108,Drama
2,tt0200940,movie,Over-sexed Rugsuckers from Mars,Over-sexed Rugsuckers from Mars,0,2022,NaN,87,"Comedy,Sci-Fi"
3,tt0265705,movie,Saurians,Saurians,0,2022,NaN,83,"Action,Sci-Fi"
4,tt0283145,movie,Wielka droga,Wielka droga,0,2022,NaN,87,"Drama,War"