In [31]:
import pandas as pd
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_basics_cleaned.csv.gz',
 'title.akas.tsv.gz',
 'years_to_get.csv.gz',
 'ratings.akas.tsv.gz',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'title_basics.csv.gz',
 'tmdb_api_results_[2000, 2001].json',
 'final_tmdb_data_[2000, 2001].csv.gz',
 'ratings_cleaned.akas.tsv.gz',
 "tmdb_api_results_['2000'].json"]

In [3]:
import json
with open('/Users/christinab/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['client-id', 'Api-key'])

In [4]:
#make a movie object using the .Movies function from tmdb
tmdb.API_Key = login['Api-key']

In [5]:
# list of tables needed for imports
# title_basics
# title_ratings
# title_genres
# genres
# tmdb_data

In [6]:
#load dataframe from project part 1 as basics:
basics = pd.read_csv('Data/ratings_cleaned.akas.tsv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy"
1,tt0120589,movie,A Dangerous Practice,A Dangerous Practice,0,2022,NaN,108,Drama
2,tt0200940,movie,Over-sexed Rugsuckers from Mars,Over-sexed Rugsuckers from Mars,0,2022,NaN,87,"Comedy,Sci-Fi"
3,tt0265705,movie,Saurians,Saurians,0,2022,NaN,83,"Action,Sci-Fi"
4,tt0283145,movie,Wielka droga,Wielka droga,0,2022,NaN,87,"Drama,War"

**List of Unique Genres**

In [7]:
# create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head(3)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy","[Action, Comedy]"
1,tt0120589,movie,A Dangerous Practice,A Dangerous Practice,0,2022,NaN,108,Drama,[Drama]
2,tt0200940,movie,Over-sexed Rugsuckers from Mars,Over-sexed Rugsuckers from Mars,0,2022,NaN,87,"Comedy,Sci-Fi","[Comedy, Sci-Fi]"

In [32]:
# separate the genres col- variables into there individual row 
exploded_genres = basics.explode('genres_split')
exploded_genres.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy",Action
0,tt0119830,movie,One Dog Day,One Dog Day,0,2022,NaN,101,"Action,Comedy",Comedy

In [9]:
# Get the string column converted to a list of strings in each row
genres_split = basics['genres'].str.split(',')

## Explore the series using.explore() and take the .unique() entires only.
unique_genres = genres_split.explode().unique()
unique_genres

array(['Action', 'Comedy', 'Drama', 'Sci-Fi', 'War', 'Crime', 'Thriller',
       'Horror', 'Mystery', 'Romance', 'Adventure', 'Animation',
       'History', 'Biography', 'Family', 'Musical', 'Music', 'Fantasy',
       'Western', 'Sport', 'Reality-TV', 'News', 'Talk-Show', 'Adult',
       'Game-Show'], dtype=object)

In [10]:
# use the unique genres from the genres_split colummn 
unique_genres = sorted(exploded_genres['genres_split'].unique())

**Create a new title table**

In [11]:
# create a new title_genres table with only the 'tconst & genres_split' columns
# save as a new df

title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0119830       Action
0  tt0119830       Comedy
1  tt0120589        Drama
2  tt0200940       Comedy
2  tt0200940       Sci-Fi

**Create a genre mapper dictionary to replace string genres with INT**

In [12]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [16]:
# Make a dictionary with list of unique genres as the key and the new interger id as values
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [25]:
# make new interger genre_id and drop string genres
basics["genre_id"] = basics["genres_split"].map(genre_map)
basics = basics.drop(columns="genres_split")

TypeError: unhashable type: 'list'

In [21]:
## Manaully make dataframe with named cols from the .keyd and .values
genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                            'Genre_ID': genre_id_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [24]:
## Set the dataframe index and use index=True 
basics.set_index('int_index').to_sql('table_name',engine,index=True)

KeyError: "None of ['int_index'] are in the columns"

In [26]:
## get max string length
max_str_len = basics['column'].fillna('').map(len).max()

KeyError: 'column'

In [29]:
## Example 
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictionary using Sqlalchemy datatype objects
basics_schema = {
    'tconst': String(key_len+1),
    'primaryTitle': Text(title_len+1),
    'StartYear':Float(),
    'endYear':Float(),
    'runtimeMinutes': Integer()}

In [30]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

NameError: name 'engine' is not defined

In [33]:
engine.execute('ALTER TABLE title_basics AND PRIMARY KEY ('tconst');')

NameError: name 'engine' is not defined